@model mobileInfo_Assignment03.Models.mobileInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>mobileInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mobileModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mobileModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mobileCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mobileCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.manufacturedYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.manufacturedYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mobileStorage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mobileStorage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mobileColour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mobileColour)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.mobileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
