@model IEnumerable<mobileInfo_Assignment03.Models.mobileInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mobileModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mobileCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.manufacturedYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mobileStorage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mobileColour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.mobileModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobileCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.manufacturedYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobileStorage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobileColour)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.mobileId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.mobileId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.mobileId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
